body {
  background-color: rgb(209, 180, 159);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.fill {
  background-color: chocolate;
}

.border {
  border: 0.45vh solid black;
}

.round-corners-1 {
  border-radius: 1.5vh;
}

.round-corners-2 {
  border-radius: 0.5vh;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  margin: auto;
  text-align: center;
}

.center {
  margin: auto;
}

.button-digit {
  font-size: 4vh;
  align-items: center;
  justify-content: center;
  background-color: chocolate;
}

.button-digit:hover {
  background-color: rgb(253, 198, 158);
}

#title {
  margin-top: 2vh;
  width: 36vh;
  height: 7vh;
  font-size: 2vh;
}

#calculator {
  width: 50vh;
  height: 58vh;
  margin-top: 2vh;
  background-color: lightslategray;
}

#screen {
  width: 43vh;
  height: 13vh;
  margin-top: 2.5vh;
  background-color: darkseagreen;
  padding: 0.5vh;
}

#digit {
  height: 6vh;
  width: 3.18vh;
  margin: 0.2vh;
  background-color: rgb(119, 163, 119);
  font-size: 5vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
