:root {
  --root-height: 98vh;
  --default-calculator-width: min(5.5in, 90vw);
  --default-calculator-height: min(6in, 100vw, 60vh);

  --round-corner-border-radius-1: max(1.5vh, 8px);
  --round-corner-border-radius-2: max(0.5vh, 2px);
  --default-border-size: max(0.45vh, 2px);
}

body {
  background-color: rgb(209, 180, 159);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.fill {
  background-color: chocolate;
}

.border {
  border: var(--default-border-size) solid black;
}

.round-corners-1 {
  border-radius: var(--round-corner-border-radius-1);
}

.round-corners-2 {
  border-radius: var(--round-corner-border-radius-2);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  justify-content: center;
  align-items: center;
}

.center {
  margin: auto;
}

.button-digit {
  font-size: max(4vh, 20px);
  align-items: center;
  justify-content: center;
  background-color: chocolate;
}

.button-digit:hover {
  background-color: rgb(253, 198, 158);
}

#title {
  margin-top: 2vh;
  margin-bottom: max(1vh, 0.1in);
  width: max(36vh, 2in);
  height: max(7vh, 0.25in);
  font-size: max(2vh, 8px);
}

#calculator {
  width: max(min(var(--default-calculator-width), 60vh), 3in);
  height: max(var(--default-calculator-height), 3in);
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2vh;
  background-color: lightslategray;
}

#screen {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  width: 87%;
  height: min(max(13vh, 0.6in), 80vh);
  margin-top: max(2vh, 0.1in);
  background-color: darkseagreen;
  padding: 0.5vh;
}

#digit {
  height: max(6vh, 48%);
  width: max(7.55%, 0.2in);
  margin: 0.14vh;
  background-color: rgb(119, 163, 119);
  font-size: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
