:root {
  --root-height: 98vh;
  --default-calculator-width-in: 5in;
  --default-calculator-height-in: 5.8in;

  --round-corner-border-radius-1: 1.5vh;
  --round-corner-border-radius-2: 0.5vh;
  --default-border-size: max(0.45vh, 2px);
}

body {
  background-color: rgb(209, 180, 159);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.fill {
  background-color: chocolate;
}

.border {
  border: var(--default-border-size) solid black;
}

.round-corners-1 {
  border-radius: var(--round-corner-border-radius-1);
}

.round-corners-2 {
  border-radius: var(--round-corner-border-radius-2);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  margin: auto;
  text-align: center;
}

.center {
  margin: auto;
}

.button-digit {
  font-size: 4vh;
  align-items: center;
  justify-content: center;
  background-color: chocolate;
}

.button-digit:hover {
  background-color: rgb(253, 198, 158);
}

.padded-container {
  padding: 1vh;
}

#title {
  margin-top: 2vh;
  width: max(36vh, 2in);
  height: max(7vh, 0.25in);
  font-size: max(2vh, 8px);
}

#calculator {
  width: max(min(var(--default-calculator-width-in), 60vh), 3in);
  height: max(min(var(--default-calculator-height-in), 70vh), 3in);
  margin-top: 2vh;
  background-color: lightslategray;
}

#screen {
  display: flex;
  justify-content: space-around;
  width: 87%;
  height: 13vh;
  margin-top: 2.5vh;
  background-color: darkseagreen;
  padding: 0.5vh;
}

#digit {
  height: 48%;
  width: 7.4%;
  margin: 0.2vh;
  background-color: rgb(119, 163, 119);
  font-size: 5vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
